html, body {
    width: 100%;
    height: 100%;
}

.map {
    width: 100%;
    height: 100%;
    position:relative;
}
.map-content{
    background: #3399cc;
    width: 100%;
    height: 100%;
    position:absolute;
}
.navbar {
    margin-bottom:0;
}
.mapDisplay .col-md-9 {
  position: inherit;
}
